body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style-type: none;
}

button {
  background-color: black;
  color: white;
}

.form-control {
  background-color: black;
  color: white;
}
